@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 128, 199);
}

.intro {
    width: 100%;
    height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.intro h1 {
    font-family: "Honk", system-ui;
}

.intro .game-info {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.intro .game-info .player-amount h3 {
    color: #000;
    font-weight: 400;
    margin-bottom: 1rem;
}
.intro .game-info .player-amount .input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.intro .game-info .player-amount .input input {
  border-radius: 10px;
  width: 30%;
  font-size: 1.5rem;

}

.intro .player-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#players-amount {
    text-align: center;
    border: none;

}

.intro .player-amount button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.intro .player-amount button i {
 font-size: 2rem;
 color: #fff;
 background-color: lightgreen;
 border-radius: 5px;
}

.intro .categories {
    width: 100%;
}

.intro .categories .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: .5rem;
}

.intro .categories .buttons button {
    width: 100%;
    background-color: #e4e6f2;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
}

#intro-continue-button {
    background-color: rgb(75, 196, 75);
    padding: 1rem;
    cursor: pointer;
    border: 1px solid rgb(65, 172, 65);
    border-radius: 10px;
    color: #fff;
    width: 60%;
}

#intro-continue-button:hover, #start-game:hover {
    background-color: rgb(48, 164, 48);
}

.intro.hidden {
    display: none;
}


.names {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 5px;
    width: 100%;
}

.names input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: .5rem;
    text-align: center;
}

.names.show {
    display: flex;
}

#start-game {
    border-radius: 10px;
    padding: .5rem;
    background-color: rgb(65, 172, 65);
    border: 1px solid green;
    color: #fff;
    width: 50%;
    margin-top: .5rem;
    cursor: pointer;
}


.game {
    width: 100%;
    height: 100dvh;
    display: none;
    gap: 5px;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;

}

.game.show {
    display: flex;
}

.game h3 {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    padding: 1rem;
}

.game .options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 1rem;
}

.game .options .option {
    background-color: #fff;
    border: 1px solid lightgray;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

#next-question {
    width: 70%;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(75, 196, 75);
    color: #fff;
    border: 1px solid green;
    cursor: pointer;
    font-size: 1rem;
}

.result {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.result.show {
    display: flex;
}

.result ul {
    width: 100%;
    list-style: none;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #e4e6f2;
    padding: .5rem;
}

.result ul li {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}