@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

html {
    touch-action: manipulation;
    background-color: rgb(6, 38, 81);
}


input, textarea, select, button {
    font-size: 16px;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 38, 81);
}

.intro {
    width: 100%;
    height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h1 {
    color: #fff;
}

.intro .game-info {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.intro .game-info .player-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.intro .game-info .player-amount h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 1rem;
}
.intro .game-info .player-amount .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
}

.intro .game-info .player-amount .input p {
  width: 30%;
  font-size: 1.5rem;
  outline: none;
  padding: 0 1rem;
}

.intro .game-info .player-amount .input button {
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: .3rem 1rem;
    color: #000;
}

#players-amount {
    text-align: center;
    border: none;

}
#subtract {
    background-color: rgb(232, 70, 70);
    border-radius: 10px 0 0 10px;
}

#add {
    background-color: lightgreen;
    border-radius: 0 10px 10px 0;
}

label {
    color: #fff;
}

.intro .categories {
    width: 100%;
}

.intro .categories .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: .5rem;
}

.intro .categories .buttons button {
    width: 100%;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    color: #000;
}

#intro-continue-button {
    background-color: rgb(75, 196, 75);
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 60%;
    margin-top: 1rem;
}

#intro-continue-button:hover, #start-game:hover {
    background-color: rgb(48, 164, 48);
}

.intro.hidden {
    display: none;
}


.names {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    height: 100dvh;
    position: relative;
}

.names h1, .result h1 {
    color: #fff;
    position: absolute;
    left: 50%;
    top: .5rem;
    transform: translate(-50%);
}

.names #back {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    padding: .7rem;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.names h2 {
    margin-bottom: 1rem;
}

.names .names-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.names .names-div input {
    font-size: 1rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: .5rem;
    text-align: center;
    outline: none;
}

.names.show {
    display: flex;
}

#start-game {
    border-radius: 10px;
    padding: .5rem;
    background-color: rgb(65, 172, 65);
    border: 1px solid green;
    color: #fff;
    width: 50%;
    margin-top: .5rem;
    cursor: pointer;
}


.game {
    width: 100%;
    height: 100dvh;
    display: none;
    gap: 5px;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.game .top-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: .5rem;
    padding: 1rem;
}

.game .top-bar h1 {
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#current-player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    background-color: rgb(7, 7, 164);
    color: #fff;
    border-radius: 10px;
    padding: .5rem 1rem;
    top: 1rem;
    left: 1rem;
}

.game.show {
    display: flex;
}

.game h3 {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    padding: 1rem;
    margin-bottom: .5rem;
    width: 100%;
}

.game .options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.game .options .option {
    background-color: #fff;
    /* border: 1px solid lightgray; */
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    color: #000;
}

.next-question {
    display: none;
    width: 70%;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(75, 196, 75);
    color: #fff;
    border: 1px solid green;
    cursor: pointer;
    bottom: 0;
    left: 50%;
    margin-bottom: 3rem;
    position: absolute;
    bottom: 0;
    transform: translate(-50%);
}

.next-question.show {
    display: block;
}

#question-counter {
padding: .5rem;
color: #000;
background-color: #fff;
border-radius: 10px;
/* position: absolute; */
top: 1rem;
right: 1rem;
}

.result {
    width: 100%;
    height: 100dvh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    position: relative;
}

.result h2, .names h2 {
    font-weight: 400;
    background-color: #fff;
    padding: .3rem .5rem;
    border-radius: 10px;
}

.result.show {
    display: flex;
}

.result ul {
    margin-top: 1rem;
    width: 100%;
    list-style: none;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #e4e6f2;
    padding: .5rem;
}

.result ul li {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.result .buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.result .buttons button {
    padding: .5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#restart {
    background-color: rgb(252, 252, 98);
}

#new-game {
    background-color: rgb(75, 196, 75);
    color: #fff;
}


@media screen and (min-width: 1000px) {

    body {
        /* border: 1px solid black; */
    }
    .intro .game-info .player-amount {
        width: 20%;
    }

    .intro .game-info .player-amount .input button {
        padding: .1rem 1rem;
    }

    .intro .categories {
        width: 100%;
        flex-direction: row;
    }

    .intro .categories .buttons{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .intro .categories .buttons .category-buttons {
        width: 49.7%;
        height: 5rem;
    }

    #intro-continue-button {
        width: 25%;
        padding: .5rem;
    }

    .names .names-div {
        width: 50%;
        
    }

    #start-game {
        width: 20%;
    }

    .game h3 {

    }

    .game .top-bar {
       justify-content: end;
    }

    #current-player {
     margin-right: .5rem;
    }
    .game .options {
        /* width: 60%; */
        flex-direction: row;
        flex-wrap: wrap;
    }

    .game .options .option {
        width: 49.7%;
        height: 7rem;
    }

    .next-question {
        width: 20%;
    }

    .result ul {
      width: 50%;
    }
}